@font-face {
  font-family: Greconian;
  src: url(./fonts/Greconian.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Greconian, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}

.main-container {
  flex-direction: row-reverse;
}

.main-container,
.row {
  display: flex;
}

.main-container-left {
  position: relative;
}

.main-container-right {
  flex: auto;
}

.background-image {
  height: 100vh;
  width: 600px;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.logo-image {
  height: 130px;
  margin: auto 0;
  width: 130px;
}

.logo-text {
  color: white;
  font-size: 3rem;
}

form {
  display: grid;
  grid-template-columns: auto auto;
}

.header-container,
.row {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}