@font-face {
  font-family: Greconian;
  src: url(./fonts/Greconian.ttf);
}

:root {
  --main-color: white;
  --secondary-color: #001489;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--secondary-color);
  font-family: Greconian, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  overflow: hidden;
}

.main-container {
  flex-direction: row-reverse;
}

.main-container,
.row {
  display: flex;
}

/* Left side */

.main-container-left {
  position: relative;
}

.background-image {
  height: 100vh;
  width: 40vw;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.logo-image {
  height: 130px;
  margin: auto 0;
  width: 130px;
}

.logo-text {
  color: var(--main-color);
  font-size: 3rem;
}

/* Right side */

.main-container-right {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-container,
.row {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 0;
}

button {
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  padding: 5px;
}

input {
  background: none;
  border: 2px solid #E5E7EB;
  border-radius: 5px;
  color: inherit;
  font-size: 1.4rem;
}

input:focus {
  border-color: var(--secondary-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.error {
  border-color: red;
}

/* .error::after {
  font-size: 1rem;
  color: red;
  content: '* Password do not match';
} */